{%extends 'base.html'%} 
{% load bootstrap3 %}
{% block content %}

{{block.super}}
<div class="container-fluid">
    <div class="container">
        <h1 style="text-align: center; color: black;"><strong>{{current_user.username}}</strong></h1>
        <hr>
        <div class="row" style="color: black;">
            <div class="col-md-4" style="text-align: center;">
                
                <hr>
                <p>{{user_profile.id}}</p><br>
                {% if user_profile.bio %}
                    <h4><strong>Bio :</strong></h4>
                    <p>{{user_profile.bio}}</p>
                    
                {% else %}
                    <p>{{current_user.username}} has no bio</p>
                    <hr>
                    
                {% endif %}

                {% if user_profile.phone_number %}
                    <h4><strong>Phone number :</strong></h4>
                    <p>{{user_profile.phone_number}}</p>
                    
                {% else %}
                    <p>{{current_user.username}} has no phone number added</p>
                    <hr>
                    
                {% endif %}
    
                
            
            </div>
            <div class="col-md-4" style="padding: 30px; text-align: center;">
                {% if user_profile.profile_pic %}
                
                    <img src="{{user_profile.profile_pic}}" alt="" class="img-thumbnail">
                
                {% else %}
                    <p>No profile picture</p>
                {% endif %}
                
                
            </div>
            <div class="col-md-4">
                <hr>
                {% if user == current_user %}
                    <a href="{% url 'update-profile' user_profile.id %} "><h4>Edit profile (add/change profile pic and bio)</h4></a>
                    <hr>
                    <a href="{% url 'upload-project' %}"><h4>Post a project</h4></a>
    
                
                {% endif %}
               
                <hr>
                
                
                
                
            </div>
              
        </div>
        <hr>
        {% for project in projects %}
        <div class="row">
                    <hr>

                    
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class = "card" style="background-color: whitesmoke; border: whitesmoke; padding: 15px; margin: 10px;">
                                <div class = "card-header text-center" style="background-color: whitesmoke;">
                                    
                                    <img class="img-rounded"  src="{{project.landing_page.url}}" style="max-width: 2em; margin-right: 10px;">
                                    <a href="{% url 'single-project' project.id %}"><strong><p>Project Title: </p></strong>{{project.title}}</a>
                                </div>
                                <div class = "card-body">
                                    <a href="{% url 'single-project' project.id %}"><img src="{{project.landing_page.url}}" class="img-responsive" alt="Image" style="padding: 5px; width: 100%; height: 100%;"></a>
                                    <p><strong>Description: </strong>{{project.description}}</p>
                                </div>
                                <div class="card-footer">
                                   
                                    <a href="{% url 'single-project' project.id %}"><p>View more</p></a>
                                    <p><strong>Live site: </strong>Click <a href="{{project.live_site}}">here</a> to access the live site.</p>
                                    
                                </div>
                                <hr>
                            </div>
                        </div>
                        
                        <div class="col-md-4">

                        </div>
                        
                
            
            
        
        </div>
        {% empty %}
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="color: white; text-align: center;">
                        
                        <h3>No projects yet </h3>
                       
                    </div>
                    <br>
                    <div class="col-md-2"></div>

        {% endfor %}
    </div>
</div>

{% endblock %}