{%extends 'base.html'%} 
{% load bootstrap3 %}
{% block content %}

{{block.super}}
<div class="container-fluid">
    <div class="container">
        <h1 class="text-center">Update your profile below:</h1>
        <hr>
        {% if formtrue %}
        <form action="{% url 'update-profile' an_id %}" method="post" id="subscribe">
            {% csrf_token %}
        
            {% bootstrap_form form layout='inline' %}
            <input type="submit" value="Update">
          </form>

        {% else %}

        <p>An error occured when trying to upload your profile pic and bio. Click <a href="{% url 'profile' an_id %}">here</a> to go back to your profile</p>
        {% endif %}
    </div>
</div>

{% endblock %}