{%extends 'base.html'%} 
{% load bootstrap3 %}

{% block styles %}
    {{block.super}}
    
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
{% endblock %}



{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color:hsla(334, 37%, 40%, 1);"> 
    <div class="container" style=" font-family: 'Fredoka One', cursive; background-color: white; color: black;">
        <form  action="{%url 'upload-project'%}" method="post" enctype="multipart/form-data" style="background-color: whitesmoke; margin: 15px;padding: 15px;">
            {%csrf_token%}
        
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %} 
        {% endblock %}
    </div>
</div>

{% endblock %}