{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        {% if title %}
        <title>Review App- {{title}}</title>
        {% else %}
        <title> ReviewApp </title>
        {% endif %}

        {% block styles %}
            {% bootstrap_css %}
            <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %} 
           <div class="container-fluid">

           </div>
        {%endblock%}
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}
    
    </body>
</html>