{%extends 'base.html'%} 
{% load bootstrap3 %}

{% block styles %}
    {{super()}}
    
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
{% endblock %}



{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color:hsla(334, 37%, 40%, 1);"> 
    <div class="container" style=" font-family: 'Fredoka One', cursive; background-color: white; color: black;">
        <div class="row">
            {% if searched_projects%}
              <h2>Found {{ searched_projects |length }} projects with search term {{message}} in their titles:</h2>
            {% else %}
              <h2> Found 0 projects with a title with {{message}}</h2>
            {% endif %}
        
          </div>
        
          <div class="row">
        
          {% if searched_projects %}
            {% for proj in searched_projects %}
              <div class="col-md-12">
                  <h1><a href="{% url 'single-project' proj.id %} "><li>{{proj.title}}</li></a></h1>
              </div>
            {% endfor %}
          {% endif %}
          </div>
    </div>
</div>

{% endblock %}