{%extends 'base.html'%} 
{% load bootstrap3 %}
{% block content %}

{{block.super}}
<div class="container-fluid">
    <div class="container">
        <p class="text-center"> Project Developer: User {{project.profile}}</p>
        <div class="row">
            <div class="col-md-6 text-center" >
                <div class = "card" style="background-color: whitesmoke; border: whitesmoke; padding: 15px; margin: 10px;">
                    <div class = "card-header text-center" style="background-color: whitesmoke;">
                        <img class="img-rounded"  src="{{project.landing_page}}" style="max-width: 2em; margin-right: 10px;">
                        <p><strong>{{project.title}}</strong></p>
                    </div>
                    <div class = "card-body">
                        <a href=""><img src="{{project.landing_page}}" class="img-responsive" alt="Image" style="padding: 5px; width: 100%; height: 100%;"></a>
                        <p><strong>Description: </strong>{{project.description}}</p>
                    </div>
                    <div class="card-footer">
                       
                       
                        <p><strong>Live site: </strong>Click <a href="{{project.live_site}}">here</a> to redirect to the live site.</p>
                        <br>

                    </div>
                </div>
                
            </div>
            <div class="col-md-6 text-center" >
                <h1>Ratings</h1>
                <br>
                <h3>OVERALL SCORE: {{overall_rating}}</3>
                
                <br>
                <a href="{% url 'rate-project' project.id %}"><h3>Add a rating </h3></a>
                <br>
                

                {% for rating in ratings %}
                <div class="row">
                            <hr>
        
                            
                                <div class="col-md-4">
        
                                </div>
                                <div class="col-md-4">
                                    <div class = "card" style="background-color: whitesmoke; border: whitesmoke; padding: 15px; margin: 10px;">
                                        <div class = "card-header text-center" style="background-color: whitesmoke;">
                                            
                                            
                                            <p><em>By {{rating.user_rating}}</em></p>
                                        </div>
                                        <div class = "card-body">
                                           
                                            <p><strong>Design: </strong>{{rating.design}}</p>
                                            <p><strong>Usability: </strong>{{rating.usability}}</p>
                                            <p><strong>Content: </strong>{{rating.content}}</p>

                                        </div>
                                        <div class="card-footer">
                                           
                                            
                                            <p><strong>MEAN SCORE by {{rating.user_rating}}: </strong>{{rating.overall}}</p>
                                            
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
        
                                </div>
                                
                        
                    
                    
                
                </div>
                {% empty %}
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="color: white; text-align: center;">
                                
                                <h3>No ratings yet </h3>
                               
                            </div>
                            <br>
                            <div class="col-md-2"></div>
        
                {% endfor %}
                
            </div>
        </div>
        <hr>
        
       
        
        
    </div>
</div>

{% endblock %}